{% extends "blogengine/base.html" %}

{% block header%}<h1>{% block title %}Archive for {{ year }}/{{ month }}{% endblock %}</h1>{% endblock %}

{% block main %}
  <a href="{% url index %}">Home</a>
  {% if articles%}
    {% for article in articles %}
      <div class="article">
	<h2><a href="{% url article article.id %}">{{ article.title }}</a></h2>
	<p class="author">By {{ article.author }} @ {{ article.creation_time }}</p>
	<div class="text">
	  {{ article.text|safe }}
	</div>
      </div>
    {% endfor %}
  {% else %}
    <p>No articles found for this month.</p>
  {% endif %}
{% endblock %}
